.header img{
    height: 110px;
    
}
.header{
    text-align: center;
}
.header nav{
    background-color: orange;
    line-height: 50px;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
    padding:5px;
}
nav a:hover{
    background-color: gray;
}